In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import train_test_split, RandomizedSearchCV, cross_val_score
from sklearn.ensemble import RandomForestClassifier
from imblearn.over_sampling import SMOTE
from sklearn.metrics import accuracy_score, classification_report, precision_recall_curve
from scipy.stats import randint
from sklearn.model_selection import RandomizedSearchCV
from sklearn.preprocessing import MinMaxScaler
from joblib import dump, load

In [36]:
import warnings
warnings.filterwarnings('ignore')
SEED = 0
heart_data_orig = pd.read_csv('heart_failure_clinical_records_dataset.csv')
heart_data_prepro = heart_data_orig.copy()

################################################ Inspection of The Dataset ############################################
heart_data_prepro.info()
#No missing values in the data
#all columns are numerical

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       299 non-null    float64
 1   anaemia                   299 non-null    int64
 2   creatinine_phosphokinase  299 non-null    int64
 3   diabetes                  299 non-null    int64
 4   ejection_fraction         299 non-null    int64
 5   high_blood_pressure       299 non-null    int64
 6   platelets                 299 non-null    float64
 7   serum_creatinine          299 non-null    float64
 8   serum_sodium              299 non-null    int64
 9   sex                       299 non-null    int64
 10  smoking                   299 non-null    int64
 11  time                      299 non-null    int64
 12  DEATH_EVENT               299 non-null    int64
dtypes: float64(3), int64(10)
memory usage: 30.5 KB

In [37]:
heart_data_prepro.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

In [38]:
counts = heart_data_prepro['DEATH_EVENT'].value_counts()
print(f"Number of 0s (survived): {counts[0]}")
print(f"Number of 1s (death events): {counts[1]}")

Number of 0s (survived): 203
Number of 1s (death events): 96

In [39]:
X = heart_data_prepro.drop(columns=['DEATH_EVENT'])
y = heart_data_prepro['DEATH_EVENT']

In [40]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

## RF model Without SMOTE

In [41]:
rf_model = RandomForestClassifier(max_depth=300, n_estimators=300, random_state=0)
rf_model.fit(X_train, y_train)
y_pred_no_smote = rf_model.predict(X_test)
print("without SMOTE")
print(classification_report(y_test, y_pred_no_smote))

without SMOTE
              precision    recall  f1-score   support

           0       0.84      0.93      0.88        41
           1       0.80      0.63      0.71        19

    accuracy                           0.83        60
   macro avg       0.82      0.78      0.79        60
weighted avg       0.83      0.83      0.83        60

In [42]:
print("Accuracy:", accuracy_score(y_test, y_pred_no_smote))

Accuracy: 0.8333333333333334

## RF model 10 K-Fold score without SMOTE

In [43]:
from sklearn.model_selection import StratifiedKFold

kfold = StratifiedKFold(n_splits=10, shuffle=True)
scores = cross_val_score(rf_model, X, y, cv=kfold, scoring='accuracy')
scores = []
splits = []
for train_index, test_index in kfold.split(X, y):
    splits.append((train_index, test_index))
    rf_model.fit(X.iloc[train_index], y.iloc[train_index])
    score = rf_model.score(X.iloc[test_index], y.iloc[test_index])
    scores.append(score)

scores = np.array(scores)
best_fold_index = np.argmax(scores)
print("Best fold index:", best_fold_index)
print("Best fold accuracy:", scores[best_fold_index])

Best fold index: 9
Best fold accuracy: 0.9310344827586207

In [44]:
X_train_best = X.iloc[splits[best_fold_index][0]]
y_train_best = y.iloc[splits[best_fold_index][0]]
X_test_best = X.iloc[splits[best_fold_index][1]]
y_test_best = y.iloc[splits[best_fold_index][1]]

rf_model.fit(X_train_best, y_train_best)
best_score = rf_model.score(X_test_best, y_test_best)
print("Accuracy on best fold test set:", best_score)

Accuracy on best fold test set: 0.9310344827586207

In [45]:
y_pred = rf_model.predict(X_test_best)
print(classification_report(y_test_best, y_pred))

              precision    recall  f1-score   support

           0       0.91      1.00      0.95        20
           1       1.00      0.78      0.88         9

    accuracy                           0.93        29
   macro avg       0.95      0.89      0.91        29
weighted avg       0.94      0.93      0.93        29

## RF model 10 K-Fold score with SMOTE

In [46]:
rf_model = RandomForestClassifier(max_depth=300, n_estimators=300, random_state=0)
smote = SMOTE(random_state=42)

scores = []
splits = []

for train_index, test_index in kfold.split(X, y):
    X_train, y_train = X.iloc[train_index], y.iloc[train_index]
    X_test, y_test = X.iloc[test_index], y.iloc[test_index]
    X_train_smote, y_train_smote = smote.fit_resample(X_train, y_train)
    rf_model.fit(X_train_smote, y_train_smote)
    score = rf_model.score(X_test, y_test)
    scores.append(score)
    splits.append((train_index, test_index))

scores = np.array(scores)
best_fold_index_SMOTE = np.argmax(scores)
print("Best fold index:", best_fold_index_SMOTE)
print("Best fold accuracy:", scores[best_fold_index_SMOTE])

X_train_best = X.iloc[splits[best_fold_index_SMOTE][0]]
y_train_best = y.iloc[splits[best_fold_index_SMOTE][0]]
X_test_best = X.iloc[splits[best_fold_index_SMOTE][1]]
y_test_best = y.iloc[splits[best_fold_index_SMOTE][1]]

X_train_best_smote, y_train_best_smote = smote.fit_resample(X_train_best, y_train_best)

rf_model.fit(X_train_best_smote, y_train_best_smote)
best_score = rf_model.score(X_test_best, y_test_best)
print("Accuracy on best fold test set with SMOTE:", best_score)

Best fold index: 1
Best fold accuracy: 0.9666666666666667
Accuracy on best fold test set with SMOTE: 0.9666666666666667

In [47]:
y_pred = rf_model.predict(X_test_best)
print(classification_report(y_test_best, y_pred))

              precision    recall  f1-score   support

           0       0.95      1.00      0.98        20
           1       1.00      0.90      0.95        10

    accuracy                           0.97        30
   macro avg       0.98      0.95      0.96        30
weighted avg       0.97      0.97      0.97        30

## Transfer Learning - RF model

In [71]:
x_train_copy = pd.DataFrame(X_train_best_smote.copy())
x_test_copy = pd.DataFrame(X_test_best.copy())  

train_proba_transfer = rf_model.predict_proba(X_train_best_smote)[:, 1]
test_proba_transfer = rf_model.predict_proba(X_test_best)[:, 1]

transfer_column = ['proba_from_best_model']
prob_features_train = pd.DataFrame(train_proba_transfer, columns=transfer_column)
prob_features_test = pd.DataFrame(test_proba_transfer, columns=transfer_column)

X_train_transfered = pd.concat([x_train_copy.reset_index(drop=True), prob_features_train], axis=1)
X_test_transfered = pd.concat([x_test_copy.reset_index(drop=True), prob_features_test], axis=1)

rf_model_TL = RandomForestClassifier(max_depth=300, n_estimators=300, random_state=0)

rf_model_TL.fit(X_train_transfered, y_train_best_smote)
y_pred = rf_model_TL.predict(X_test_transfered)

accuracy = accuracy_score(y_test_best, y_pred)
print(f"Accuracy: {accuracy:.4f}")
print(classification_report(y_test_best, y_pred))

Accuracy: 0.9667
              precision    recall  f1-score   support

           0       0.95      1.00      0.98        20
           1       1.00      0.90      0.95        10

    accuracy                           0.97        30
   macro avg       0.98      0.95      0.96        30
weighted avg       0.97      0.97      0.97        30

In [72]:
X_train_XGB

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,proba_from_best_model
0,75.000000,0,582,0,20,1,265000.000000,1.900000,130,1,0,4,0.990000
1,55.000000,0,7861,0,38,0,263358.030000,1.100000,136,1,0,6,0.910000
2,65.000000,0,146,0,20,0,162000.000000,1.300000,129,1,1,7,0.966667
3,50.000000,1,111,0,20,0,210000.000000,1.900000,137,1,0,7,0.953333
4,90.000000,1,47,0,40,1,204000.000000,2.100000,132,1,1,8,0.980000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,45.114796,0,7592,0,24,1,390401.787285,1.005740,139,0,0,59,0.966667
362,63.643005,0,578,0,31,0,162853.281470,0.903178,137,0,0,74,0.823333
363,68.524744,0,2607,0,31,1,388655.728905,6.645939,134,1,0,26,0.966667
364,70.476761,0,178,0,29,0,241854.576538,1.509895,140,0,0,77,0.903333
365,65.950550,0,439,0,23,0,265237.637544,1.200000,135,1,1,134,0.976667

In [73]:
X_test_XGB

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,proba_from_best_model
0,65.0,1,160,1,20,0,327000.00,2.70,116,0,0,8,0.816667
1,95.0,1,112,0,40,1,196000.00,1.00,138,0,0,24,0.803333
2,80.0,1,553,0,20,1,140000.00,4.40,133,1,0,41,0.913333
3,95.0,1,371,0,30,0,461000.00,2.00,132,1,0,50,0.886667
4,72.0,0,364,1,20,1,254000.00,1.30,136,1,1,59,0.873333
5,60.0,0,68,0,20,0,119000.00,2.90,127,1,1,64,0.786667
6,75.0,1,203,1,38,1,283000.00,0.60,131,1,1,74,0.440000
7,45.0,1,1876,1,35,0,226000.00,0.90,138,1,0,88,0.150000
8,46.0,0,168,1,17,1,271000.00,2.10,124,0,0,100,0.726667
9,53.0,1,1808,0,60,1,249000.00,0.70,138,1,1,106,0.033333
10,63.0,0,193,0,60,1,295000.00,1.30,145,1,1,107,0.150000
11,62.0,0,281,1,35,0,221000.00,1.00,136,0,0,108,0.150000
12,72.0,1,943,0,25,1,338000.00,1.70,139,1,1,111,0.626667
13,60.0,0,2261,0,35,1,228000.00,0.90,136,1,0,115,0.146667
14,70.0,0,835,0,35,1,305000.00,0.80,133,0,0,145,0.250000
15,50.0,1,115,0,20,0,189000.00,0.80,139,1,0,146,0.380000
16,55.0,0,835,0,40,0,279000.00,0.70,140,1,1,147,0.043333
17,64.0,1,62,0,60,0,309000.00,1.50,135,0,0,174,0.303333
18,40.0,1,101,0,40,0,226000.00,0.80,141,0,0,187,0.023333
19,50.0,0,582,0,62,1,147000.00,0.80,140,1,1,192,0.113333
20,78.0,0,224,0,50,0,481000.00,1.40,138,1,1,192,0.293333
21,54.0,1,427,0,70,1,151000.00,9.00,137,0,0,196,0.363333
22,53.0,1,707,0,38,0,330000.00,1.40,137,1,1,209,0.116667
23,61.0,1,80,1,38,0,282000.00,1.40,137,1,0,213,0.103333
24,64.0,0,143,0,25,0,246000.00,2.40,135,1,0,214,0.500000
25,58.0,0,132,1,38,1,253000.00,1.00,139,1,0,230,0.023333
26,55.0,0,1199,0,20,0,263358.03,1.83,134,1,1,241,0.526667
27,44.0,0,582,1,30,1,263358.03,1.60,130,1,1,244,0.330000
28,62.0,0,61,1,38,1,155000.00,1.10,143,1,1,270,0.043333
29,45.0,0,2413,0,38,0,140000.00,1.40,140,1,1,280,0.146667

In [77]:
from xgboost import XGBClassifier
xgb_model = XGBClassifier(use_label_encoder=False, eval_metric='logloss', random_state=0)
xgb_model.fit(X_train_transfered, y_train_best_smote)

y_pred = xgb_model.predict(X_test_transfered)

print("Accuracy:", accuracy_score(y_test_best, y_pred))
print("Classification Report:\n", classification_report(y_test_best, y_pred))

Accuracy: 0.9
Classification Report:
               precision    recall  f1-score   support

           0       0.87      1.00      0.93        20
           1       1.00      0.70      0.82        10

    accuracy                           0.90        30
   macro avg       0.93      0.85      0.88        30
weighted avg       0.91      0.90      0.89        30

In [82]:
from sklearn.model_selection import cross_val_predict
rf_proba = cross_val_predict(rf_model,X_train_best_smote , y_train_best_smote, cv=10, method='predict_proba')[:, 1]
X_transfered = X_train_best_smote.copy()
X_transfered["rf_proba"] = rf_proba

xgb_model = XGBClassifier(use_label_encoder=False, eval_metric='logloss', random_state=0)
scores = cross_val_score(xgb_model, X_transfered, y_train_best_smote, cv=10, scoring='accuracy')
print("Accuracy:", scores.mean())

Accuracy: 0.8131381381381381

## Transfer Learning - SVM model

In [84]:
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score

svm_model = SVC(probability=True, random_state=0)

svm_model.fit(X_train_transfered, y_train_best_smote)

y_pred = svm_model.predict(X_test_transfered)

print("Accuracy:", accuracy_score(y_test_best, y_pred))
print("Classification Report:\n", classification_report(y_test_best, y_pred))

Accuracy: 0.6666666666666666
Classification Report:
               precision    recall  f1-score   support

           0       0.71      0.85      0.77        20
           1       0.50      0.30      0.38        10

    accuracy                           0.67        30
   macro avg       0.60      0.57      0.57        30
weighted avg       0.64      0.67      0.64        30

## Transfer Learning - KNN model

In [86]:
from sklearn.neighbors import KNeighborsClassifier

knn_model = KNeighborsClassifier(n_neighbors=9)

knn_model.fit(X_train_transfered, y_train_best_smote)
y_pred = knn_model.predict(X_test_transfered)

print("Accuracy:", accuracy_score(y_test_best, y_pred))
print("Classification Report:\n", classification_report(y_test_best, y_pred))

Accuracy: 0.5666666666666667
Classification Report:
               precision    recall  f1-score   support

           0       0.71      0.60      0.65        20
           1       0.38      0.50      0.43        10

    accuracy                           0.57        30
   macro avg       0.55      0.55      0.54        30
weighted avg       0.60      0.57      0.58        30

## Transfer Learning - GB model

In [88]:
from sklearn.ensemble import GradientBoostingClassifier

GB_model = GradientBoostingClassifier(n_estimators=100, learning_rate=1.0, max_depth=4, random_state=0)

GB_model.fit(X_train_transfered, y_train_best_smote)
y_pred = GB_model.predict(X_test_transfered)

print("Accuracy:", accuracy_score(y_test_best, y_pred))
print("Classification Report:\n", classification_report(y_test_best, y_pred))

Accuracy: 0.9666666666666667
Classification Report:
               precision    recall  f1-score   support

           0       0.95      1.00      0.98        20
           1       1.00      0.90      0.95        10

    accuracy                           0.97        30
   macro avg       0.98      0.95      0.96        30
weighted avg       0.97      0.97      0.97        30